
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00cdff;
}

p {
  color: #859959;
}

.well{
  border:0px !important;
}

.code{
  color: #fff56f !important;
}

h2,h3,h4{
  color: #c7c1ca !important;
}


.top-well{
  margin-top:50px;
}

.fill-width {
  width: 100%;
  height: auto;
}

.light {
  background-color: #95A5A6 !important;
}

.medium {
  background-color: #7F8C8D !important;
}

.dark {
  background-color: #34495E !important;
}

.very-dark {
  background-color: #2C3E50 !important;
}

.margin-bottom-5{
  margin-bottom:5px;
}

.margin-5{
  margin:5px;
}

.rounded{
  border-radius: 10px;
}

.rounded-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded-bottom{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table{
  color: #ff8475 !important;
}

.thumb {
  padding-top:5%;
  padding-bottom:5%;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.margin-right{
  margin-right:5px;
}



