<div ng-controller='ProjectDetailCtrl'>
    <h1>Project {{project.title}}</h1>
    <div ng-controller='AuthCtrl'>
        <h5 ng-if = 'isAuth == true'>
            {{username}}:<a ng-click='logout()'>logout</a>
        </h5>
        <h5 ng-if = 'isAuth == false'>
            <a href='/#/login'>login</a>
        </h5>
    </div>
    <ul>
        <li ng-repeat='task in tasks'>
            {{task.title}}
            <form ng-submit='deleteTask(task)' style='display: inline'>
                <input type="submit" value="Delete">
            </form>
            <form ng-submit="updateTask(task)" style='display: inline'>
                Edit Project:
                <input type="text" name="update" ng-model='task.title'>
            </form>
        </li>
    </ul>
    <form ng-submit="addTask()" style='display: inline'>
        Add Task:<br>
        <input type="text" name="new" ng-model='newTitle'>
    </form>
</div>
