<div ng-controller='ProjectDetailCtrl'>
    <h1>Project {{project.title}}</h1>
    <ul>
        <li ng-repeat='task in project.Tasks'>
            {{task.title}}
            <form ng-submit='deleteTask(task)' style='display: inline'>
                <input type="submit" value="Delete">
            </form>
            <form ng-submit="updateTask(task)" style='display: inline'>
                Edit Project:
                <input type="text" name="update" ng-model='task.title'>
            </form>
        </li>
    </ul>
    <form ng-submit="addTask()" style='display: inline'>
        Add Project:<br>
        <input type="text" name="new" ng-model='newTitle'>
    </form>
</div>
