<div class='container-fluid'>
    <h2>Motion Rest Server</h2>
    <h3>Pre-requisites</h3>
    <p>
        Motion should be configured to write to a MySQL or PostgreSQL
        <br>
        Node.js and NPM
        <br>
        Bower
    </p>

    <h3>Introduction</h3>
    <p>
        This program serves the motion detection events captured by
        <a href='http://www.larsen.dk/foswiki/bin/view/Motion.WebHome'>Motion</a>.
    </p>
    <h3>Installation</h3>
    <p>
        To install motion, execute the following commands:
        <ul>
            <li class="code">git clone https://github.com/scrussell24/motion-rest-server.git</li>
            <li class="code">cd motion-rest-server</li>
            <li class="code">npm install</li>
            <li class="code">bower install</li>
        </ul>
    </p>
    <p>
        Edit the config/config.json with your db info.
    </p>
    <p>
        To run the server execute <span class='code'>bin/www</span>.The server should be running on port 3000.
    </p>
    <h3>Motion Rest interface</h3>
    <P>TODO</P>
    <h3>Demo</h3>
    <p>Check out the <a href='/#/demo'>Demo</a>. It has been set up to show the webcam feeds for up to four cameras.</p>
    <h3>License</h3>
    <p>
        The MIT License (MIT)
        <br>
        Copyright (c) 2014 Scott Russell
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
        <br>
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
    </p>
</div>

